<ion-header>
  <ion-toolbar color=primary>
    <ion-title size="large">
      <p align=center> {{id}} </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button href="flat/{{wing}}">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> -->
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label text-wrap position="fixed">DATE : </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" value={{date}} (ionChange)="this.handleDate($event)">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>Kitchen Reading : <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input item-end required type="number" value="{{kitchenReading}}" (input)="this.handleKitchenValue($event)"
        #input></ion-input>
          <ion-thumbnail slot="end" (click)="presentPopover(1)">
            <img [src]="kitchenPath">
          </ion-thumbnail>
            <ion-button (click)="pickImage(1)">
              <span *ngIf="!kitchenPath">Add Image</span>
              <span *ngIf="kitchenPath">Change Image</span>
            </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="fixed" text-wrap>Toilet Reading : <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="number" value="{{toiletReading}}" (input)="this.handleToiletValue($event)"></ion-input>
        <ion-thumbnail slot="end" (click)="presentPopover(2)">
          <img [src]="toiletPath">
        </ion-thumbnail>
        <ion-button (click)="pickImage(2)">
          <span *ngIf="!toiletPath">Add Image</span>
          <span *ngIf="toiletPath">Change Image</span>
        </ion-button>
    </ion-item>
   

  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="processEntry('foward')">Add & Next Flat
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>
  <!-- <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="processEntry('back')">
      <ion-icon name="arrow-back-outline"></ion-icon> Add & Go Back
    </ion-button>
  </div> -->

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="cancel()" color=danger>
      <ion-icon name="close-outline"></ion-icon> Cancel
    </ion-button>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="home()" color=secondary>
      <ion-icon name="home-outline"></ion-icon>
      <p style="padding:5px;"> Cancel & Go Back to Main Page</p>
    </ion-button>
  </div>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Previous readings</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let reading of readings">
      <ion-label>{{reading.date}}</ion-label>
      <ion-grid>
        <ion-row >
          <ion-col *ngFor="let value of reading.values">
            <ion-note>{{value.type}}:{{value.value}}</ion-note>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

  </ion-item-group>



</ion-content>