
<ion-header>
  <ion-toolbar  color=primary>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
            <ion-title size="large">
              <p align=center>Select a Month</p>
              
            </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let month of months; let i = index" [routerLink]="'/addMonthReading/' + dates[i]">
        <ion-icon name="checkmark-outline" slot="end" *ngIf="ticks1[i]"></ion-icon>
        <ion-icon name="checkmark-outline" slot="end" class="image" *ngIf="tick2"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2> {{month}} </h2>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>