<ion-header>
  <ion-toolbar color=primary>
    <ion-title size="large">
      Select a Wing
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-list>
    <ion-item  *ngFor="let wing of wings" [routerLink]="'/flat/' + wing.id" >
      <ion-label  class="ion-text-wrap">
        <h2>{{wing.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item-divider color="primary">
    <ion-label>
     <ion-title> <ion-icon name="list-outline"></ion-icon>  <span style="padding:10px;">Actions</span></ion-title> 
    </ion-label>
  </ion-item-divider>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="saveFile()" color=warning>
      <ion-icon name="save-outline"></ion-icon> <p style="padding:5px;">Generate Excel File</p>
    </ion-button>
  </div>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="shareFile()" color=warning>
      <ion-icon name="share-social-outline"></ion-icon>
      <p style="padding:5px;">Share Excel File</p>
    </ion-button>
  </div>

    <div class="ion-padding">
     <a href="addreadings" class="addButton">   <ion-button expand="block" class="ion-no-margin" color=success>
        <ion-icon name="add-circle"></ion-icon>
        <p style="padding:5px;">Add Monthly Reading</p>
      </ion-button></a>
    </div>

    <div class="ion-padding">
      <a href="billing" class="addButton">
       
        <ion-button expand="block" class="ion-no-margin" color=danger>
          <ion-icon name="document-outline"></ion-icon>
          <p style="padding:5px;">Generate Bill</p>
        </ion-button>
     
     </a>
    </div>

    <button ion-button full (click)="createPdf()">Create PDF</button>
    <button ion-button full (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</button>
</ion-content>