 ion-col {
   background-color: #f7f7f7;
   border: solid 1px #ddd;
   padding: 2px;
 }

 ion-select {
   --padding-top: 0px !important;
   --padding-end: 0px !important;
   --padding-bottom: 0px !important;
   --padding-start: 0px !important;
 }

 .subheading {
   padding-left: 10px;
   padding-top: 10px;
   margin: 2px;
   padding-bottom: 5px;
 }

 .subnote {
   padding-left: 10px;
   padding-top: 10px;
   margin: 2px;
   padding-bottom: 5px;
 }

 .ion-checkbox {
   margin: 0px !important;
 }